.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 17px 7px;
    border-bottom: 1px solid;
    .left-area{
        display: flex;
        align-items: center;
        width: 500px;
        .logo{
            position: relative;
            width: 50px;
            height: 50px; 
        }


        .search-area-main {
            position: relative;
            margin-left: 11px;
            width: 65%;
            .search-input {
                position: relative;
                input {
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    height: 40px;
                    padding-left: 21px;
                    width: 100%;
                    font-size: 17px;
                }
                > .form-action {
                    position: absolute;
                    top: 50%;
                    transform:translateY(-50%);
                    right: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
                    color: black;
                   
                }
            }
        
        
        
            .search-result {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                z-index: 999;
                background-color: #fff;
                border: none;
                padding: 10px 16px;
                transform:scale3d(1, 1, 0);
                transition: all 0.4s ease;
                opacity: 0;
                visibility: hidden;

        
                &.active {
                    transform:scale3d(1, 1, 1);
                    opacity: 1;
                    visibility: visible;
                }
        
                .userListMain {
                    display: flex;
                    flex-direction: column;
                    margin-top: 9px;
                    
                    .user-list-area {
                        display: flex;
                        align-items: center;
                        margin-bottom: 3px;
                        padding: 8px 9px;
                        border-radius: 5px;
                        transition: 0.3s;
                        &:hover{
                            cursor: pointer;
                        }
                        .user-Info {
                            margin-left: 16px;
                            line-height: 18px;
                            p{
                                margin: 0;
                            }
                        }
                    }
                    p {
                        margin: 0;
                    }
                }

            }
        }



    }

    .right-area{
        display:flex;
        align-items: center;
      
    }
} 


.notification-area {
    margin-right: 16px;
    .notifCountChange {
        animation: growAndShrink 0.3s 1;
    }
}