.profile-area{
    display: flex;
    align-items: center;
    
    .profile-Image{
        position: relative;
        width: 110px;
        height: 109px;
        .profile-img-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: center;
            background-color: #d8dfda;
            padding: 6px 6px 0px 6px;
            border-radius: 36px;
            label{
             &:hover{
                cursor: pointer;
             }
            }
        }
    }
    .profile-content {
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        width: 55%;
        h2,h4{
            margin: 0;
        }
    
    }

   .editNameFrom{
    margin-left: 19px;
    form {
        display: flex;
        flex-direction: column;
    }

   }


}