.messageMainView {
    min-height: 500px;
    height: calc(100vh - 68px);

    .messageHeader {
        padding: 7px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .photoAndName{
            .selectName {
                font-size: 18px;
                text-transform: capitalize;
            }
        }
    }
    .messageBody-main{
        height: calc(100vh - 144px);
    }

 // message body --------------
.messageBody-main{
  position: relative;
    .messageListShow{
        padding: 0 20px;
        flex-direction: column-reverse;
        height: calc(100% - 65px);
        display: flex;
     .messageContentShowMain{
        .preFile{
            position: relative;
            .preFalseImage{
                position: relative;
                width: 260px;
                height: 200px;
            }
        }
        .messageBox{
            display: flex;
            flex-direction: column;
            text-align: start;
            padding: 6px;
            position: relative;
            
            .msgOptionsIcon{
                opacity: 0;
            }
            &:hover{
                .msgOptionsIcon{
                    opacity: 1;
                }
            }
            .messageContentMain{
                display: flex;
                .messageTime{
                    min-width: 90px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    margin: 3px 0px -2px -5px;
                    font-size: 14px;
                    .sendStatusIcon{
                        margin: 2px;
                    }
                }
            }
          

        }
     }
    }

    .messageInput{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 9px;
      input{
        width: 100%;
        border: 0;
        border-radius: 17px;
        padding: 11px 13px;
        outline: none;
      }
    }
    .senderAvatar {
        @include getImgDimensions(0.31); 
        background-color: transparent;
        margin: 7px 10px 0px 2px;
        cursor: pointer;
      }

}

.msgDate{
    margin: 0 auto;
    padding: 10px 10px;
}


}

//profileShowDialog
.profileShowDialog{
    padding: 10px 24px;
    .profileDialogContent {
        margin-top: 11px;
        padding-bottom: 19px;
        text-align: center;
        h2,h3 {
        margin: 0;
        }
    }
}


// fullScreenImage
.fullScreenImage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .customizeImage{
        position: relative;
        width: 80vh;
        height: 82vh;
        object-fit: contain;
    }
 
}

// message attachment

.msgImageWrapper{
.imageEditIcons{
    position: absolute;
    top: 0;
    left: 0;
}
}

