$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default;

$font-1st: 'Work Sans', sans-serif;
$font-2nd: 'Libre Baskerville', serif;
$font-3rd: 'Playfair Display', serif;
$home: true !default;

$document-font-size: 14px;

$timing: cubic-bezier(0.77, 0, 0.175, 1);
$timing-1: cubic-bezier(0.7, 0, 0.3, 1);
$timing-2: cubic-bezier(0.2, 1, 0.3, 1);
$timing-3: cubic-bezier(0.4, 0, 0.2, 1);

$fontFamily1:'Neuton', serif;
$fontFamily1:'Neuton', serif;

$color-danger: #ec0101;
$color-heading: #000;
$color-1st: #fcb800;

$baseImgDimension: 100px;